body {
    background-color: wheat;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 56px;
}

.block {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.link {
    padding: 20px 40px 20px 40px;
    border: black solid 2px;
    border-radius: 10px;
}

.registration-link {
    background-color: skyblue;
}

.registration-link:hover {
    background-color: #58bbe4;
}

.autorization-link {
    background-color: #45a049;
}

.autorization-link:hover {
    background-color: #67e46d;
}

.personal-account-link {
    padding: 20px 85px 20px 85px;
    background-color: rgba(200, 4, 9, 0.7);
}

.personal-account-link:hover {
    background-color: rgba(239, 32, 37, 0.7);
}